.calculator {
    height: 320px;
    width: 235px;
    border-radius: 5px;
    overflow: hidden;
    
    display: grid;
    /* 4 colunas, cada uma com 25% */
    grid-template-columns: repeat(4, 25%); 
    grid-template-rows: 48px 48px 48px 48px 48px;
}

